.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.row {
  display: contents;
}

.cell {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  /* color: transparent; */
}

.cell.empty {
  background-color: #f0f0f0;
}

.cell.player {
  /* width: 100%;
	height: 100%;
	display: block;
	content: "";
	background-image: url("../assets/sokoban_vector.svg");
	background-position: 0% 57%;
	background-repeat: no-repeat;
	background-size: 1490%; */
}

.cell.boxed {
  width: 100%;
	height: 100%;
	display: block;
	content: "";
	background-image: url("../assets/sokoban_vector.svg");
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-size: 1490%;
}

.cell.ground {
  background-image: url("../assets/sokoban_vector.svg");
	background-position: 91% 85%;
	background-repeat: no-repeat;
	background-size: 1660%;
}

.cell.indicator {
  
}

.cell.wall {
  background-image: url("../assets/sokoban_vector.svg");
  background-position: 50% 99.75%;
  background-repeat: no-repeat;
  background-size: 1590%;
}
