* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body,
#root {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background: lightgray;
}

#root {
	flex-direction: column;
}

#container {
	width: 640px;
	height: 640px;
	justify-content: center;
	align-items: center;
	display: flex;
	position: relative;
}

.grid-container {
	min-width: 640px;
	outline: 4px solid black;
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	max-width: 100%;
}

.grid-row {
	border: 1px solid rgb(189, 189, 189);
	border-bottom: none;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	width: 100%;
	height: 100%;
}

.grid-item {
	aspect-ratio: 1/1;
	border: 1px solid rgb(189, 189, 189);
	border-top: none;
}

.wall {
	background-image: url("assets/sokoban_vector.svg");
	background-position: 50% 99.75%;
	background-repeat: no-repeat;
	background-size: 1000px;
}

.ground,
.ground2 {
	background-image: url("/src/assets/sokoban_vector.svg");
	background-position: 91% 86%;
	background-repeat: no-repeat;
	background-size: 1080px;
}

.box {
	width: 100%;
	height: 100%;
	display: block;
	content: "";
	background-image: url("assets/sokoban_vector.svg");
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-size: 940px;
}

.player {
	width: 100%;
	height: 100%;
	display: block;
	content: "";
	background-image: url("assets/sokoban_vector.svg");
	background-position: 0% 57%;
	background-repeat: no-repeat;
	background-size: 960px;
}

.boxindicator {
	width: 100%;
	height: 100%;
	display: block;
	content: "";
	background-image: url("assets/sokoban_vector.svg");
	background-position: 99.8% 57.5%;
	background-repeat: no-repeat;
	background-size: 960px;
}

.level10 .wall {
	background-image: url("assets/sokoban_vector.svg");
	background-position: 58.25% 99.75%;
	background-repeat: no-repeat;
	background-size: 1000px;
}

.level10 .box {
	background-image: url("assets/sokoban_vector.svg");
	background-position: 58.3% 0%;
	background-repeat: no-repeat;
	background-size: 940px;
}

.level10 .ground {
	background-image: url("/src/assets/sokoban_vector.svg");
	background-position: 83% 86%;
	background-repeat: no-repeat;
	background-size: 1080px;
}

.grid-item:hover {
	outline: 2px solid white;
	z-index: 100;
	cursor: pointer;
	animation: flash 0.4s ease-in-out;
}

@keyframes flash {
	0% {
		filter: brightness(2);
	}

	1000% {
		filter: brightness(1);
	}
}

#generate,
#togglegrid {
	z-index: 100;
	position: relative;
	display: block;
	margin-bottom: 2rem;
	background-color: green;
	color: white;
	font-weight: bold;
	padding: 1rem;
	font-family: Arial;
}

#generate:hover,
#togglegrid:hover {
	background-color: black;
	cursor: pointer;
}

#togglegrid {
	background-color: gray;
}

#buttons {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.gridless .grid-item,
.gridless .grid-row {
	border: none;
}
